.about{
    width: 100%;
    height:100dvh;
    font-size: 1.5em;
    margin-top:92px;
    display: flex;
    background-color: #C8BDC7;
    
}
.about-content{
    border: 3px solid #E5D1B1;
    width:100%;
    justify-content: flex-end;
    float:right;
    text-align: center;
    padding: 20px;
}
.about h3{
    text-align: center;
    margin-top: 20px;
}
.about-content span{
    border-bottom:5px solid black
}
.about-content p{
    padding: 8px;
}
table.center{
    margin-left: auto;
    margin-right: auto;
}
table{
    border-collapse: collapse;
    margin-top:20px;
}
th{
    background-color: #E5D1B1;
}
th,td{
  
    border: 1px solid black;;
    padding:4px;
} 
.center-profile-picture
{
    margin-top: 110px;
    margin-right: 20px;
    margin-left: 20px;;

    border: 1px solid ;
    width:500px;
    height:550px;
    border-radius: 50%;
    object-fit: cover;
    outline: 2px solid;
}