.skill-section{
    width: 100%;
    height:100dvh;
    font-size: 1.5em;
    margin-top:92px;
    text-align: center;
}
.skill-section  h3{
    margin-top:5px;
}
.skill-section span{
    border-bottom: 4px dashed #b3720b;
}
.skill-list p{
    text-align: left;
    margin-left: 15px;
    margin-top: 20px;
}
.container {
    width: 100%; /* Full width */
    background-color: #ddd; /* Grey background */
}
.skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
}
  
.html {width: 90%; background-color: #354346;}
.css {width: 80%; background-color: #354346;} 
.js {width: 85%; background-color: #354346;} 
.mysql {width: 60%; background-color: #354346;} 
.git{width:85%;background-color: #354346;}
.C{width:60%;background-color: #354346;}