*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    top:0;
    left:0;
    width:100%;
    height:10%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #E5D1B1;
}
.logo{
    font-size: 2em;
}
.navbar a{
    font-size:2em;
    text-decoration: none;
    color:black;
    margin-right:40px;
}
.navbar a:hover{
    cursor:default;
    opacity:0.3;
}
.social-icons{
    margin-top: 18px;
    text-align: center;
}
.social-icons h4{
    margin-bottom:4px;
    margin-right:8px;
}
.social-icons a{
    color:black;
    font-size: larger;
    letter-spacing: 10px;
}
.social-icons a :hover{
    cursor:default;
    opacity:0.3;
}

footer{
    width:100%;
    position: fixed;
    background-color: #E5D1B1;
    text-align: center;
    font-size: 1.5em;
    bottom: 0;
}
.contact-icons a{
    text-decoration: none;
    padding: 20px;
    color:#354346;
}
.contact-icons a:hover{
    opacity:0.8;
}


